/* Elements */
body {
    background-image: url(../images/asphalt_bg.jpg)
}
h1 {
    color: rgb(165, 93, 41);
}
/* Classes */
.btn {
    background-color: bisque;
    color: black;
}
.jumbotron {
    background-color: rgba(211, 211, 211, 0.849);
}
/* ID */